<a href="https://colab.research.google.com/github/Bhevendra/Deep-Learning---ANN-1/blob/main/ANN_Practical_APS_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ANN
- Perceptron
- Fully connected NN
- Activation Function
- Loss Function 
- Optimizer
- Bias

## 2 Libraries
- Tensorflow
- Keras

In [4]:
import tensorflow

In [5]:
print(tensorflow.__version__)

2.9.2

In [6]:
# Importing the libararies
import numpy as np
import pandas as pd

In [7]:
dataset = pd.read_csv('aps_data.csv')

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (7,8,9,10,11,12,13,14,15,16,17,18,19,21,22,23,24,25,26,28,29,30,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,68,69,70,71,81,82,83,85,100,101,102,103,104,105,106,107,108,109,112,114,115,116,117,118,119,120,121,122,123,143,159,160,161,162,163,164,165,166,167,168) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [8]:
dataset.head()

,class,aa_000,ab_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,ag_002,...,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000
0,neg,6,0,0,0,0,0,0,0,0,...,26,8,26,52,0,0,0,0,0,0
1,neg,90,0,0,66,0,0,0,0,0,...,1268,526,554,300,118,260,0,0,0,0
2,neg,30,na,16,14,0,0,0,0,0,...,480,84,74,50,46,0,0,0,0,0
3,neg,444,na,14,12,0,0,0,0,0,...,1614,1144,3598,2460,1258,8524,110,0,0,0
4,neg,82,na,12,10,0,0,0,0,1464,...,1010,132,310,56,92,1292,0,0,0,0

In [10]:
dataset.isnull().sum()

class     0
aa_000    0
ab_000    0
ac_000    0
ad_000    0
         ..
ee_007    1
ee_008    1
ee_009    1
ef_000    1
eg_000    1
Length: 171, dtype: int64

In [11]:
dataset = dataset.replace("na",np.nan)

In [12]:
dataset.isnull().sum()

class        0
aa_000       0
ab_000    3246
ac_000     261
ad_000    1034
          ...
ee_007      52
ee_008      52
ee_009      52
ef_000     210
eg_000     210
Length: 171, dtype: int64

In [13]:
dataset.isnull().sum().sum()

60618

In [14]:
pd.options.display.max_rows=1000

In [15]:
dataset.isnull().sum()

class        0
aa_000       0
ab_000    3246
ac_000     261
ad_000    1034
ae_000     193
af_000     193
ag_000      51
ag_001      51
ag_002      51
ag_003      51
ag_004      51
ag_005      51
ag_006      51
ag_007      51
ag_008      51
ag_009      51
ah_000      49
ai_000      46
aj_000      46
ak_000     324
al_000      55
am_0        46
an_000      55
ao_000      45
ap_000      55
aq_000      45
ar_000     209
as_000      46
at_000      46
au_000      46
av_000     193
ax_000     193
ay_000      51
ay_001      51
ay_002      51
ay_003      51
ay_004      51
ay_005      51
ay_006      51
ay_007      51
ay_008      51
ay_009      51
az_000      51
az_001      51
az_002      51
az_003      51
az_004      51
az_005      51
az_006      51
az_007      51
az_008      51
az_009      51
ba_000      53
ba_001      53
ba_002      53
ba_003      53
ba_004      53
ba_005      53
ba_006      53
ba_007      53
ba_008      53
ba_009      53
bb_000      49
bc_000     210
bd_000     210
be_000     194
bf_000     193
bg_000      55
bh_000      55
bi_000      45
bj_000      45
bk_000    1588
bl_000    1886
bm_000    2757
bn_000    3064
bo_000    3231
bp_000    3336
bq_000    3410
br_000    3463
bs_000      56
bt_000      13
bu_000      54
bv_000      54
bx_000     240
by_000      36
bz_000     210
ca_000     325
cb_000      57
cc_000     240
cd_000      53
ce_000     194
cf_000    1035
cg_000    1035
ch_000    1035
ci_000      32
cj_000      32
ck_000      32
cl_000     643
cm_000     659
cn_000      54
cn_001      54
cn_002      54
cn_003      54
cn_004      54
cn_005      54
cn_006      54
cn_007      54
cn_008      54
cn_009      54
co_000    1035
cp_000     210
cq_000      54
cr_000    3246
cs_000      52
cs_001      52
cs_002      52
cs_003      52
cs_004      52
cs_005      52
cs_006      52
cs_007      52
cs_008      52
cs_009      52
ct_000     964
cu_000     964
cv_000     964
cx_000     964
cy_000     964
cz_000     964
da_000     964
db_000     964
dc_000     964
dd_000     194
de_000     210
df_000     307
dg_000     307
dh_000     307
di_000     307
dj_000     307
dk_000     307
dl_000     307
dm_000     307
dn_000      54
do_000     211
dp_000     211
dq_000     211
dr_000     211
ds_000     211
dt_000     211
du_000     211
dv_000     211
dx_000     210
dy_000     210
dz_000     210
ea_000     210
eb_000     307
ec_00      693
ed_000     643
ee_000      52
ee_001      52
ee_002      52
ee_003      52
ee_004      52
ee_005      52
ee_006      52
ee_007      52
ee_008      52
ee_009      52
ef_000     210
eg_000     210
dtype: int64

In [18]:
pd.DataFrame(dataset.isnull().sum().sort_values(ascending=False)).rename(columns={0:"Null Value Count"})

        Null Value Count
br_000              3463
bq_000              3410
bp_000              3336
ab_000              3246
cr_000              3246
bo_000              3231
bn_000              3064
bm_000              2757
bl_000              1886
bk_000              1588
cg_000              1035
ch_000              1035
co_000              1035
cf_000              1035
ad_000              1034
cu_000               964
cv_000               964
cx_000               964
cz_000               964
ct_000               964
da_000               964
db_000               964
dc_000               964
cy_000               964
ec_00                693
cm_000               659
cl_000               643
ed_000               643
ca_000               325
ak_000               324
dj_000               307
dm_000               307
dl_000               307
dk_000               307
eb_000               307
di_000               307
dh_000               307
dg_000               307
df_000               307
ac_000               261
cc_000               240
bx_000               240
do_000               211
dt_000               211
dv_000               211
du_000               211
dp_000               211
ds_000               211
dr_000               211
dq_000               211
ef_000               210
bz_000               210
bd_000               210
bc_000               210
eg_000               210
de_000               210
ea_000               210
dz_000               210
dy_000               210
dx_000               210
cp_000               210
ar_000               209
dd_000               194
ce_000               194
be_000               194
ae_000               193
af_000               193
bf_000               193
av_000               193
ax_000               193
cb_000                57
bs_000                56
bh_000                55
bg_000                55
ap_000                55
an_000                55
al_000                55
cn_001                54
cn_005                54
cn_004                54
cn_003                54
cn_002                54
cq_000                54
cn_000                54
cn_008                54
cn_006                54
dn_000                54
cn_009                54
cn_007                54
bu_000                54
bv_000                54
cd_000                53
ba_008                53
ba_000                53
ba_001                53
ba_002                53
ba_003                53
ba_004                53
ba_005                53
ba_006                53
ba_007                53
ba_009                53
cs_002                52
cs_008                52
cs_009                52
ee_009                52
ee_000                52
ee_001                52
ee_002                52
ee_003                52
cs_007                52
cs_006                52
cs_005                52
cs_004                52
cs_003                52
ee_004                52
cs_001                52
ee_005                52
ee_008                52
ee_007                52
cs_000                52
ee_006                52
ag_006                51
ay_001                51
ay_000                51
ag_009                51
ag_008                51
ag_007                51
ag_005                51
ay_003                51
ag_004                51
ag_003                51
ag_002                51
ag_001                51
ag_000                51
ay_002                51
az_002                51
ay_004                51
ay_008                51
az_006                51
az_007                51
az_008                51
az_009                51
az_005                51
az_004                51
az_003                51
az_001                51
az_000                51
ay_005                51
ay_009                51
ay_007                51
ay_006                51
ah_000                49
bb_000                49
ai_000                46
aj_000                46
am_0                  46
as_000                46
at_000                46
au_000                46
ao_000                45
aq_000                45
bi_000                45
bj_000                45
by_000                36
ck_000                32
cj_000                32
ci_000                32
bt_000                13
aa_000                 0
class                  0

In [19]:
### filling null values in feature with median of that feature
for feature in [feature for feature in dataset.columns if feature not in ['class']]: dataset[feature]=dataset[feature].fillna(dataset[feature].median())

In [21]:
dataset.isnull().sum().sum()

0

In [22]:
dataset.head()

,class,aa_000,ab_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,ag_002,...,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000
0,neg,6,0,0,0,0,0,0,0,0,...,26,8,26,52,0,0,0,0,0,0
1,neg,90,0,0,66,0,0,0,0,0,...,1268,526,554,300,118,260,0,0,0,0
2,neg,30,0.0,16,14,0,0,0,0,0,...,480,84,74,50,46,0,0,0,0,0
3,neg,444,0.0,14,12,0,0,0,0,0,...,1614,1144,3598,2460,1258,8524,110,0,0,0
4,neg,82,0.0,12,10,0,0,0,0,1464,...,1010,132,310,56,92,1292,0,0,0,0

In [23]:
X = dataset.drop("class",axis=1)

In [25]:
y = dataset["class"]

In [28]:
X.info(verbose=True,show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4212 entries, 0 to 4211
Data columns (total 170 columns):
 #    Column  Non-Null Count  Dtype
---   ------  --------------  -----
 0    aa_000  4212 non-null   int64
 1    ab_000  4212 non-null   object
 2    ac_000  4212 non-null   object
 3    ad_000  4212 non-null   object
 4    ae_000  4212 non-null   object
 5    af_000  4212 non-null   object
 6    ag_000  4212 non-null   object
 7    ag_001  4212 non-null   object
 8    ag_002  4212 non-null   object
 9    ag_003  4212 non-null   object
 10   ag_004  4212 non-null   object
 11   ag_005  4212 non-null   object
 12   ag_006  4212 non-null   object
 13   ag_007  4212 non-null   object
 14   ag_008  4212 non-null   object
 15   ag_009  4212 non-null   object
 16   ah_000  4212 non-null   object
 17   ai_000  4212 non-null   object
 18   aj_000  4212 non-null   object
 19   ak_000  4212 non-null   object
 20   al_000  4212 non-null   object
 21   am_0    4212 non-null   object
 22   an_000  4212 non-null   object
 23   ao_000  4212 non-null   object
 24   ap_000  4212 non-null   object
 25   aq_000  4212 non-null   object
 26   ar_000  4212 non-null   object
 27   as_000  4212 non-null   object
 28   at_000  4212 non-null   object
 29   au_000  4212 non-null   object
 30   av_000  4212 non-null   object
 31   ax_000  4212 non-null   object
 32   ay_000  4212 non-null   object
 33   ay_001  4212 non-null   object
 34   ay_002  4212 non-null   object
 35   ay_003  4212 non-null   object
 36   ay_004  4212 non-null   object
 37   ay_005  4212 non-null   object
 38   ay_006  4212 non-null   object
 39   ay_007  4212 non-null   object
 40   ay_008  4212 non-null   object
 41   ay_009  4212 non-null   object
 42   az_000  4212 non-null   object
 43   az_001  4212 non-null   object
 44   az_002  4212 non-null   object
 45   az_003  4212 non-null   object
 46   az_004  4212 non-null   object
 47   az_005  4212 non-null   object
 48   az_006  4212 non-null   object
 49   az_007  4212 non-null   object
 50   az_008  4212 non-null   object
 51   az_009  4212 non-null   object
 52   ba_000  4212 non-null   object
 53   ba_001  4212 non-null   object
 54   ba_002  4212 non-null   object
 55   ba_003  4212 non-null   object
 56   ba_004  4212 non-null   object
 57   ba_005  4212 non-null   object
 58   ba_006  4212 non-null   object
 59   ba_007  4212 non-null   object
 60   ba_008  4212 non-null   object
 61   ba_009  4212 non-null   object
 62   bb_000  4212 non-null   object
 63   bc_000  4212 non-null   object
 64   bd_000  4212 non-null   object
 65   be_000  4212 non-null   object
 66   bf_000  4212 non-null   object
 67   bg_000  4212 non-null   object
 68   bh_000  4212 non-null   object
 69   bi_000  4212 non-null   object
 70   bj_000  4212 non-null   object
 71   bk_000  4212 non-null   object
 72   bl_000  4212 non-null   object
 73   bm_000  4212 non-null   object
 74   bn_000  4212 non-null   object
 75   bo_000  4212 non-null   object
 76   bp_000  4212 non-null   object
 77   bq_000  4212 non-null   object
 78   br_000  4212 non-null   object
 79   bs_000  4212 non-null   object
 80   bt_000  4212 non-null   object
 81   bu_000  4212 non-null   object
 82   bv_000  4212 non-null   object
 83   bx_000  4212 non-null   object
 84   by_000  4212 non-null   object
 85   bz_000  4212 non-null   object
 86   ca_000  4212 non-null   object
 87   cb_000  4212 non-null   object
 88   cc_000  4212 non-null   object
 89   cd_000  4212 non-null   object
 90   ce_000  4212 non-null   object
 91   cf_000  4212 non-null   object
 92   cg_000  4212 non-null   object
 93   ch_000  4212 non-null   object
 94   ci_000  4212 non-null   object
 95   cj_000  4212 non-null   object
 96   ck_000  4212 non-null   object
 97   cl_000  4212 non-null   object
 98   cm_000  4212 non-null   object
 99   cn_000  4212 non-null   object
 100  cn_001  4212 non-null   object
 101  cn_002  4212 non-null   object
 102  cn_003  4212 non-null   object
 103  cn_004  4212 non-null   object
 104  cn_005  4212 non-null   object
 105  cn_006  4212 non-null   object
 106  cn_007  4212 non-null   object
 107  cn_008  4212 non-null   object
 108  cn_009  4212 non-null   object
 109  co_000  4212 non-null   object
 110  cp_000  4212 non-null   object
 111  cq_000  4212 non-null   object
 112  cr_000  4212 non-null   object
 113  cs_000  4212 non-null   object
 114  cs_001  4212 non-null   object
 115  cs_002  4212 non-null   object
 116  cs_003  4212 non-null   object
 117  cs_004  4212 non-null   object
 118  cs_005  4212 non-null   object
 119  cs_006  4212 non-null   object
 120  cs_007  4212 non-null   object
 121  cs_008  4212 non-null   object
 122  cs_009  4212 non-null   object
 123  ct_000  4212 non-null   object
 124  cu_000  4212 non-null   object
 125  cv_000  4212 non-null   object
 126  cx_000  4212 non-null   object
 127  cy_000  4212 non-null   object
 128  cz_000  4212 non-null   object
 129  da_000  4212 non-null   object
 130  db_000  4212 non-null   object
 131  dc_000  4212 non-null   object
 132  dd_000  4212 non-null   object
 133  de_000  4212 non-null   object
 134  df_000  4212 non-null   object
 135  dg_000  4212 non-null   object
 136  dh_000  4212 non-null   object
 137  di_000  4212 non-null   object
 138  dj_000  4212 non-null   object
 139  dk_000  4212 non-null   object
 140  dl_000  4212 non-null   object
 141  dm_000  4212 non-null   object
 142  dn_000  4212 non-null   object
 143  do_000  4212 non-null   object
 144  dp_000  4212 non-null   object
 145  dq_000  4212 non-null   object
 146  dr_000  4212 non-null   object
 147  ds_000  4212 non-null   object
 148  dt_000  4212 non-null   object
 149  du_000  4212 non-null   object
 150  dv_000  4212 non-null   object
 151  dx_000  4212 non-null   object
 152  dy_000  4212 non-null   object
 153  dz_000  4212 non-null   object
 154  ea_000  4212 non-null   object
 155  eb_000  4212 non-null   object
 156  ec_00   4212 non-null   object
 157  ed_000  4212 non-null   object
 158  ee_000  4212 non-null   object
 159  ee_001  4212 non-null   object
 160  ee_002  4212 non-null   object
 161  ee_003  4212 non-null   object
 162  ee_004  4212 non-null   object
 163  ee_005  4212 non-null   object
 164  ee_006  4212 non-null   object
 165  ee_007  4212 non-null   object
 166  ee_008  4212 non-null   object
 167  ee_009  4212 non-null   object
 168  ef_000  4212 non-null   object
 169  eg_000  4212 non-null   object
dtypes: int64(1), object(169)
memory usage: 5.5+ MB

In [29]:
pd.get_dummies(y,drop_first=True)

      pos
0       0
1       0
2       0
3       0
4       0
...   ...
4207    0
4208    0
4209    0
4210    0
4211    0

[4212 rows x 1 columns]

In [30]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [31]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(3369, 170)
(843, 170)
(3369,)
(843,)

In [32]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
sc.fit_transform(X_train)
sc.transform(X_test)

array([[ 0.71622603, -0.09152145, -0.4199134 , ..., -0.21397052,
        -0.03665868, -0.03784412],
       [-0.40271723, -0.09152145, -0.4199134 , ..., -0.21397052,
        -0.03665868, -0.03784412],
       [-0.39735298,  0.84000654, -0.41991328, ..., -0.21397052,
        -0.03665868, -0.03784412],
       ...,
       [-0.16505106, -0.09152145, -0.41991262, ...,  0.1330834 ,
        -0.03665868, -0.03784412],
       [-0.40277932, -0.09152145, -0.4199134 , ..., -0.21397052,
        -0.03665868, -0.03784412],
       [-0.16182258, -0.09152145, -0.41991302, ...,  0.00330273,
        -0.03665868, -0.03784412]])